# Ignore the node_modules directory
Hands-On-1-Portable-Parallel-Programming-with-OpenMP/solution/

# Ignore Logs
logs
*.log

# Ignore the build directory
/solution

# The file containing environment variables 
.env

# Ignore IDE specific files
.DS_Store
